@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./partials/fonts.css";

@theme {
  --font-serif:
    "EB Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.small-caps {
  font-variant-caps: small-caps;
}

.lady-blackbird.sheet .window-content {
  padding: 0;
}

.lady-blackbird.sheet input[type="text"] {
  background: unset;
  border: unset;
  border-radius: unset;
  outline: unset;
}

.victorian-ornaments {
  border-image-slice: 310 310 310 310;
  border-image-width: 42px 42px 42px 42px;
  border-image-outset: 9px 9px 9px 9px;
  border-image-repeat: round round;
  border-image-source: url("../assets/images/corner-ornaments.svg");
  border-style: solid;
}

.tag.selected,
.trait.selected {
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
